@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin card {
  background: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: $shadow;
  margin-bottom: 8px;
  cursor: pointer;

  &:hover {
    background: #f8f9fa;
  }
}
